body {
    background-image: url("./images/Royal Blue + Petrol.jpg");

    background-size: cover;
    height: 300%;
}

.card {
    box-shadow: 4px 6px 24px -1px rgba(0,0,0,0.75);
}

.mainImg {
    box-shadow: 4px 6px 24px -1px rgba(0,0,0,0.75);
}

.card-title {
    font-weight: 100;
    text-align: center;
}

i {
    margin-left: 10px;
}